<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:due_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <% invoice_class = if invoice.refunded_at
          'danger'
        elsif invoice.paid_at
          'success'
        elsif invoice.due_at < Date.today
          'warning'
        end
      %>
      <tr class="<%= invoice_class %>">
        <td><%= link_to invoice.invoice_number, invoice_path(invoice) %></td>
        <td><%=l invoice.created_at %></td>
        <td><%= number_to_currency invoice.total, unit: "#{Payday::Config.default.currency.upcase} " %></td>
        <td><%= invoice.due_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      invoice_path(invoice),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_invoice_path,
            :class => 'btn btn-primary' %>
